@model RoleTopMVC.ViewModels.BaseViewModel
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Role top</title>
    <link rel="stylesheet" type="text/css" href="~/css/Style.css"/>
    
    @if("Home".Equals(@Model.NomeView))
    {
        <link rel="stylesheet" href="~/css/Style.css"/>
    } 
    else if("Login".Equals(@Model.NomeView))
    {
        <link rel="stylesheet" href="~/css/login.css"/>
    }
    else if("Erro".Equals(@Model.NomeView))
    {
        <link href="~/css/paginasecundaria.css" rel="stylesheet"/>
    }
    else if ("Cadastro".Equals(@Model.NomeView))
    {
        <link rel="stylesheet" href="~/css/cadastro.css"/>
    }
    else if("Historico".Equals(@Model.NomeView))
    {
        <link href="~/css/historico.css" rel="stylesheet"/>
    }
    else if ("Mensagem".Equals(@Model.NomeView))
    {
        <link href="~/css/paginasecundaria.css" rel="stylesheet"/>
    }
    else if("Sucesso".Equals(@Model.NomeView))
    {
        <link href="~/css/paginasecundaria.css" rel="stylesheet"/>
    }
    else if ("Galeria".Equals(@Model.NomeView))
    {
        <link rel="stylesheet" href="~/css/galeria.css"/>
    }
    else if ("Agendamento".Equals(@Model.NomeView))
    {
        <link href="~/css/agende-ja.css" rel="stylesheet"/>
    }
    else if("Efetuado".Equals(@Model.NomeView))
    {
        <link href="~/css/paginasecundaria.css" rel="stylesheet"/>
    }
    else if("Dashboard".Equals(@Model.NomeView))
    {
        <link href="~/css/style-dashboard.css" rel="stylesheet"/>
    }
    <script src="https://kit.fontawesome.com/349a64cb04.js"></script>
</head>

<body>
<!-------------------------------------------------------
        CABEÇALHO
-------------------------------------------------------->
    <header>
        <nav id="menu">
                <a id="logo"> <img src="~/img/logo.png"></a>
            <ul>
                <li id="bt-mobile-menu">
                            <!-- HTML para colocar os ícones do FA -->
                            <a href="javascript:void(0);" class="icon" onclick="toggleMobileMenu()">
                                <i class="fa fa-bars"></i>
                            </a>
                        </li>
                <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Home" asp-action="Index">Início </a></li>
                <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Galeria" asp-action="Index">Galeria</a></li>
                @if(string.IsNullOrEmpty(@Model.UsuarioEmail))
                {
                <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Cliente" asp-action="Login">Login/Cadastro</a></li>
                }
                else
                {
                <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Cliente" asp-action="Logout">Logout</a></li>
                <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Cliente" asp-action="Historico">Eventos</a></li>
                }
                <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Agendamento" asp-asp-action="Index">Agende já</a></li>
            </ul>
        </nav>
    </header>
    @RenderBody()
    <footer id="rodape">

        <p>Avenida Barão de Limeira, 539 - Santa Cecília - São
            <br>
            Paulo/SP -
            <br>
            CEP: 1202-001
            <br>
            Telefone: (11) 3273-5000
            <br>
            Email: roletop@email.com.br
        </p>
    </footer>
    <footer id="direitos">
        <p>Copyright 2019 Todos os direitos reservados.</p>
        <br/>
        <a href="#">Voltar para o topo!</a>
    </footer>

        <script>
                function toggleMobileMenu() {
                    var ul = document.querySelector("nav ul");
                    var commonButtons = document.querySelectorAll("nav .bt-common-menu");
                    var icon = document.querySelector(".icon > i");
                    ul.classList.toggle("mobile-mode");
                    if (icon.classList.contains("fa-bars")) {
                        icon.classList.remove("fa-bars");
                        icon.classList.remove("fa");
                        icon.classList.add("fas");
                        icon.classList.add("fa-skull");
                    } else {
                        icon.classList.remove("fas");
                        icon.classList.remove("fa-skull");
                        icon.classList.add("fa");
                        icon.classList.add("fa-bars");
                    }
                    for (var button of commonButtons) {
                        button.classList.toggle("active");
                    }
                }
                
            </script>
</body>
</html>